
<div class="nav" role="menu">
    <p></p>
    <a routerLink="/heros" routerLinkActive="active">
        <div class="container">
            <div class="side-menu">                
                    <mat-icon>home</mat-icon> Welcome Home                
            </div>
        </div>
    </a>
    <div class="space">
        <p></p>
    </div>

    <a routerLink="/services" routerLinkActive="active">
        <div class="container">
            <div class="side-menu">                
                    <mat-icon>home</mat-icon> Our Services               
            </div>
        </div>
    </a>
    <div class="space">
        <p></p>
    </div>

    <a routerLink="/about-us" routerLinkActive="active">
        <div class="container">
            <div class="side-menu">                
                    <mat-icon>home</mat-icon> About Us Mano                
            </div>
        </div>
    </a>
    <div class="space">
        <p></p>
    </div>

    <a routerLink="/contact-us" routerLinkActive="active">
        <div class="container">
            <div class="side-menu">                
                    <mat-icon>home</mat-icon> Contact Us                
            </div>
        </div>
    </a>
    <div class="space">
        <p></p>
    </div>

    <a routerLink="/our-branch" routerLinkActive="active">
        <div class="container">
            <div class="side-menu">                
                    <mat-icon>home</mat-icon> Our New Branch                
            </div>
        </div>
    </a>
    <div class="space">
        <p></p>
    </div>
    
</div>